<td>
  <div class="clock-input-group">
    <input class="clock-input" type="number" name="clock-in-hr">
    :
    <input class="clock-input" type="number" name="clock-in-min">
  </div>
</td>
<td>
  <div class="clock-input-group">
    <input class="clock-input" type="number" name="clock-out-hr">
    :
    <input class="clock-input" type="number" name="clock-out-min">
  </div>
</td>
