.form {
  margin:0 auto;
  border: 1px solid #aaa;

}

.form-content {
    padding: 1rem;
}

.form-text-field {
  width: 80%;
  padding-bottom: 2rem;
}

.form-submit-button {
  margin: 0 auto;
  padding: 2rem;
}